.cards-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    margin: 40px auto;
}


.cards-h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.cards-h4 {
    font-size: 16px;
    color: #777;
    margin-bottom: 15px;
}

.cards-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.financial-description {
    margin: 0;
    padding-right: 10px;
}

.financial-values {
    display: flex;
    align-items: center;
}

.financial-type, .financial-value {
    margin: 0 10px;
}

.delete-button {
    background-color: #d84a4a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.delete-button:hover {
    background-color: #c23333;
}


@media (max-width: 768px) {
    .cards-container {
        width: 90%;
        padding: 15px;
    }

    .cards-h2 {
        font-size: 18px;
    }

    .cards-h4 {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .cards-li {
        flex-direction: column;
        gap: 10px;
    }

    .financial-description {
        padding-right: 0;
    }

    .financial-values {
        justify-content: space-between;
        width: 100%;
    }

    .delete-button {
        align-self: flex-end;
    }
}